/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2017, 6:53:02 PM
    Author     : simonbaer
*/

.filters {
    padding: 20px 0;
    /* padding-bottom: 50px; */
    border: 3px solid #5C8BCC;
}